body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #D1884F;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

nav {
    background-color: #008AAA;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 1rem 0; /* Adjust the padding as needed */
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section h2 {
    color: #008AAA;
}

ul {
    list-style: none;
    padding: 0;
}

.project img {
    max-width: 100%;
}

footer {
    background-color: #3BBADB;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
